<div class="head">
  <h1>Details</h1>

</div>
<form class="example-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>User Name:</mat-label>
    <input matInput placeholder="Username" class="formControl" formControlName="uname" required>
    <mat-error
      *ngIf="userForm.controls.uname.invalid && (userForm.controls.uname.dirty || userForm.controls.uname.touched)"
      class="alert alert-danger">

      <span *ngIf="uname?.errors?.required">
        User Name is required.
      </span>
      <span *ngIf="uname?.errors?.minlength">
        User Name must be at least 8 characters long.
      </span>
      <span *ngIf="uname?.errors?.pattern">
        Please Enter Valid Username
      </span>
    </mat-error>
  </mat-form-field><br>
  <span></span>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Firstname:</mat-label>
    <input matInput class="formControl" formControlName="fname" required>
    <mat-error
      *ngIf="userForm.controls.fname.invalid && (userForm.controls.fname.dirty || userForm.controls.fname.touched)"
      class="alert alert-danger">

      <span *ngIf="fname?.errors?.required">
        First Name is required
      </span>
    </mat-error>

  </mat-form-field><br>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Lastname:</mat-label>
    <input matInput class="formControl" formControlName="lname" required>
    <mat-error
      *ngIf="userForm.controls.lname.invalid && (userForm.controls.lname.dirty || userForm.controls.lname.touched)"
      class="alert alert-danger">

      <span *ngIf="lname?.errors?.required">
        Last Name is required
      </span>
    </mat-error>
  </mat-form-field><br>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Email:</mat-label>
    <input matInput class="formControl" formControlName="email" required>
    <mat-error
      *ngIf="userForm.controls.email.invalid && (userForm.controls.email.dirty || userForm.controls.email.touched)"
      class="alert alert-danger">
      <span *ngIf="email?.errors?.required">
        Email is required

      </span>
      <span *ngIf="email?.errors?.email">
        Please Enter Valid Email
      </span>
    </mat-error>
  </mat-form-field><br>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Phonenumber:</mat-label>
    <mat-icon matSuffix></mat-icon>
    <input matInput class="formControl" formControlName="phone" required>

    <mat-error
      *ngIf="userForm.controls.phone.invalid && (userForm.controls.phone.dirty || userForm.controls.phone.touched)"
      class="alert alert-danger">

      <span *ngIf="phone?.errors?.required">
        Phone number is required.
      </span>
      <span *ngIf="phone?.errors?.minlength">
        Phonenumber must be at least 10 digits.
      </span>
      <span *ngIf="phone?.errors?.pattern">
        Phonenumber must be number
      </span>

    </mat-error>
  </mat-form-field><br>
  <button type="submit" style="background:forestgreen;" [disabled]="!userForm.valid" appearance="outline">Submit</button>

</form>