<div class="container">
<div class="head">
  <h1>Details</h1>
</div>

<form class="example-form" [formGroup]="userForm">
  <div>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>User Name:</mat-label>
      <input matInput placeholder="Username" class="formControl" formControlName="userName">
      <mat-error
        *ngIf="userForm.controls.userName.invalid && (userForm.controls.userName.dirty || userForm.controls.userName.touched)">
        <span *ngIf="userName?.errors?.required">
          User Name is required.
        </span>
        <span *ngIf="userName?.errors?.minlength">
          User Name must be at least 8 characters long.
        </span>
        <span *ngIf="userName?.errors?.pattern">
          Please Enter Valid Username
        </span>
      </mat-error>
    </mat-form-field><br>
  </div>

  <div>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Firstname:</mat-label>
      <input matInput class="formControl" formControlName="firstName">
      <mat-error
        *ngIf="userForm.controls.firstName.invalid && (userForm.controls.firstName.dirty || userForm.controls.firstName.touched)">
        <span *ngIf="firstName?.errors?.required">
          First Name is required
        </span>
      </mat-error>
    </mat-form-field><br>
  </div>

  <div>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Lastname:</mat-label>
      <input matInput class="formControl" formControlName="lastName">
      <mat-error
        *ngIf="userForm.controls.lastName.invalid && (userForm.controls.lastName.dirty || userForm.controls.lastName.touched)">
        <span *ngIf="lastName?.errors?.required">
          Last Name is required
        </span>
      </mat-error>
    </mat-form-field><br>
  </div>

  <div>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Email:</mat-label>
      <input matInput class="formControl" formControlName="email">
      <mat-error
        *ngIf="userForm.controls.email.invalid && (userForm.controls.email.dirty || userForm.controls.email.touched)">
        <span *ngIf="email?.errors?.required">
          Email is required
        </span>
        <span *ngIf="email?.errors?.email">
          Please Enter Valid Email
        </span>
      </mat-error>
    </mat-form-field><br>
  </div>

  <div>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Phonenumber:</mat-label>
      <mat-icon matSuffix></mat-icon>
      <input matInput class="formControl" formControlName="phone">
      <mat-error
        *ngIf="userForm.controls.phone.invalid && (userForm.controls.phone.dirty || userForm.controls.phone.touched)">
        <span *ngIf="phone?.errors?.required">
          Phone number is required.
        </span>
        <span *ngIf="phone?.errors?.pattern">
          Phonenumber is invalid
        </span>
      </mat-error>
    </mat-form-field><br>
  </div>

  <button type="submit" [disabled]="!userForm.valid" appearance="outline" (click)="onSubmit()">Submit</button>

</form>
</div>